<!-- login.html -->
  {% extends 'blog/base.html' %}
 {% load static %}
 

    {% block content %}
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>

        <button type="submit">Login</button>
    </form>
    {% block DontHaveAccount %}
    <h1>Dont Have Account !</h1>
    {% endblock DontHaveAccount %}
    <a href="{% url 'register' %}"><h2>Register</h2></a>
    {% endblock %}
